![BTS](https://github.com/vfp1/bts-mbds-data-science-foundations-2019/blob/master/sessions/img/Logo-BTS.jpg?raw=1)

# Session 4: Pandas and SQLite in depth session

### Victor F. Pajuelo Madrigal <victor.pajuelo@bts.tech> - Data Science Foundations (2019-10-10)

Open this notebook in Google Colaboratory: [![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vfp1/bts-mbds-data-science-foundations-2019/blob/master/sessions/04_Pandas_&_SQLite_recap_through_exercises.ipynb)

# OPTIONAL assignements from WEEK one

Let's look in depth at the optional assignements from WEEK 1

You can find the first week exercise notebook by opening this notebook in Google Colaboratory: 
[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vfp1/bts-mbds-data-science-foundations-2019/blob/master/sessions/DSF_WEEK_1_EXERCISES.ipynb)

# More Pandas!

Check a good cheatsheet for Pandas [here](https://www.w3resource.com/python-exercises/pandas/index.php)

[Some cool exercise resources for Pandas](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)

## Groupby exersises

Import this [dataset](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user)

*   What is the mean age per occupation?
*   What is the male ratio per occupation, sort it from the most to the least. Do the same for women
*   For each occupation, calculate the minimum and maximum ages
* For each combination of occupation and gender, calculate the mean age
* For each occupation present the percentage of women and men

In [11]:
import pandas as pd

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
    
workers=pd.read_csv(url,
                     sep='|', index_col='user_id')
workers.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

## Apply exercises

Import this [dataset](https://github.com/vfp1/bts-mbds-data-science-foundations-2019/raw/master/sessions/data/US_Crime_Rates_1960_2014.csv)

* What is the type of the columns?
* Convert the type of the column Year to datetime64
* Set the Year column as the index of the dataframe
* Delete the Total column
* Group the year by decades and sum the values (take care with population values)
* What is the most dangerous decade to live in the US?

# SQLite and Pandas

## SQLite, Pandas and the world of tips

Given [this](https://raw.github.com/pandas-dev/pandas/master/pandas/tests/data/tips.csv) CSV file. Do the following:

* Load it in Pandas
* Save the `DataFrame` as SQLite
* Reply the following questions by slicing the SQLite database with SQL queries and then using Pandas for analysis:
    * Who is most likely to receive a tip during weekday? A Female or a Male? 
        * And during weekends?
    * What is the table size that is most likely to bring a better tip?
    * Who are giving more tips, smokers or non smokers?

In [10]:
#save the dataFrame

import sqlite3
snx=sqlite3.connect('tips.db')
tips.to_sql('tips', con=cnx)

NameError: name 'tips' is not defined

In [ ]:
#What is the table size that is most likely to bring a better tip?

# select avarage

## More airports, this time without spatial fears

Download [this Sqlite database](https://github.com/vfp1/bts-mbds-data-science-foundations-2019/raw/master/sessions/data/flights.db)

Using SQLite database reply the following questions:

*   Which is the country that has the least amount of active airlines?
*   And which is the country that has the most amount of active airlines?
*   Which is the country that has more airports?
*   And the country with the least airports?
*   Which country has the most outgoing destinations? And the least?
*   And which country has the most incoming destinations? And the least?

In [0]:
#Which is the country that has the least amount of active airlines?